.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}
.tomato{
    background-color: tomato;
}
.pink{
    background-color: pink;
}

.bold{
    font-weight: 600;
    
}